body {
    padding: 0;
    margin: 0;
    background: #e6e7e4;
  } 
  /*-- forms --*/
  .control-label{
    color: white;
  } 
  .overlay button, .description button {
    border:1px solid #459afa; 
    border-radius: 0;
    color:#fff;
  }
  .overlay button:hover, .description button:hover  {
    border:1px solid #fff;
    background:rgb(183, 197, 247);
    color:#000;
  } 
  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
  }
  .feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  } 
  @media (max-width: 575.98px) {
    .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 10%;
      transform: none;
      text-align: center;
    }
    
    .description h1 {
      font-size: 2em;
    }
    
    .description p {
      font-size: 1.2rem;
    }
    
    .features {
      margin: 0;
    }
  }
  .label{
    color:whitesmoke 
  }
  .dataTables_filter {
    display:inline;   
   }
   .table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: fixed; 
    width: 100%;
  }
  
  .table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /*.table tr:nth-child(even){background-color: #f2f2f2;}*/
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(48, 158, 125);
    color: white;
  }
  .table col:nth-child(2n) {
    background-color:#f2f2f2;
  }